default_language_version:
  python: python3.12
default_stages: [pre-commit]
repos:
  - repo: local
    hooks:
      - id: pytest-check
        name: pytest-check
        entry: uv run pytest
        language: system
        stages: [pre-push]
        types: [python]
        pass_filenames: false
        always_run: true
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # - id: trailing-whitespace
      # - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      # - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: forbid-new-submodules
      # - id: check-added-large-files
  # https://pre-commit.com/hooks.html
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.3.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
        additional_dependencies: [typing-extensions] # cz-github-convention]
  # - repo: https://github.com/pre-commit/mirrors-mypy
  #   rev: v0.982
  #   hooks:
  #     - id: mypy
  #       # args: [--ignore-missing-imports]
  #       additional_dependencies: [pyside6, types-Deprecated, types-docutils, types-orjson, types-toml,  types-typed-ast, types-requests, types-python-dateutil]
  #       exclude: '(sciscintilla)\.py'

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.9.9
    hooks:
      - id: ruff
      - id: ruff-format
