-r requirements.txt

pip==20.1.1
bump2version==1.0.0
wheel==0.34.2
setuptools==47.3.1

flake8==3.8.3
tox==3.16.1

coverage==5.1
codecov==2.1.7

mkdocs==1.1.2
mkdocs-material==5.4.0
mkdocstrings==0.12.1
pymdown-extensions==7.1

twine==3.2.0

PyQt5==5.15.0
PyQtWebEngine==5.15.0
PyQtChart==5.15.0

pytest==5.4.3
pytest-qt==3.3.0
pytest-runner==5.2
pytest-cov==2.10.0
